body{
    font-family: 'Muli';
}

.logo-container{
    display: flex;
    align-items: stretch;
    width: fit-content;
    margin: auto;
}

.logo-text{
    margin: auto;
    font-size: 4rem;
    text-align: right;
    position: relative;
    bottom: 8px;
    font-weight: 900;
    color: #b1b1b1;
}

.logo-image{
    background: conic-gradient(#478ead  0deg 120deg, #315071 120deg 240deg, #9cb870 240deg 360deg);
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-left: 10px;
}

.logo-square{
    background-color: #e4793b;
    height: 45%;
    width: 40%;
    position: relative;
    top: 29%;
    left: 33%;
}

.logo-a{
    height: 100px;
    width: 100px;
    font-size: 9rem;
    font-weight: bold;
    position: relative;
    right: 5px;
    bottom: 80px;
    background-color: transparent;
    color: white;font-weight: 900;

}