.logo-container{
    display: block;
}

.logo-text{
    font-family: 'ubuntu';
    display: inline-block;
}

.logo-image{
    display: inline-block;
    background: conic-gradient( lightblue, darkblue, green);
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin: auto;
    position: relative;
    top: 20rem;
}